[submodule "aotus"]
	path = aotus
	url = ../aotus.git
[submodule "polynomials"]
	path = polynomials
	url = ../polynomials.git
[submodule "bin"]
	path = bin
	url = ../apes-bin.git
[submodule "tem"]
	path = tem
	url = ../tem-source.git
[submodule "sdr"]
	path = sdr
	url = ../seeder-source.git
	branch = replace_request
